.customers-actions-select {
    width: auto;
    max-width: 100%;
}
.companies-dropdown-wrapper {
    display: none;
}
.upload-customer-link {
    margin-left: 20px;
    cursor: pointer;
}
.link-styles {
    color: #006bb4;
    text-decoration: none;
}
.select-container {
    margin-top: 5px;
}
.link-styles:hover {
    text-decoration: underline;
    cursor: pointer;
}