.customers-actions-select {
    width: auto;
    max-width: 100%;
}
.companies-dropdown-wrapper {
    display: none;
}
.upload-customer-link {
    margin-left: 20px;
}
.file-uploader-label {
    width: 100%;
    padding: 30px;
    background: #f0f0f0;
    text-align: center;
}