<?php
/**
 * File register
 *
 * @category   Lambda
 * @package    Lambda_CompanyAccount
 * @author     Mladen Mandic <mladen.m@lambdasolutions.net>
 * @copyrights 2021 Lambda Solutions Inc.
 * @link       https://www.lambdasolutions.net/
 */
/**
 * Current block
 *
 * @var Lambda\CompanyAccount\Block\CompaniesList $block
 */
?>
<?php if ($block->getCompanies()): ?>
    <fieldset class="fieldset company">
        <?php if ($block->isShowLegend()) : ?>
            <legend class="legend"><span><?= $block->escapeHtml(__('%1 Information', $block->getCompanyLabel())) ?></span></legend><br>
        <?php endif; ?>
        <div class="field company <?php if ($block->isCompanyRequiredField()) : ?>required<?php endif; ?>">
            <label for="company_id" class="label"><span><?= $block->escapeHtml($block->getCompanyLabel()) ?></span></label>
            <div class="control">
                <select id="company_id" name="company_id" title="<?= $block->escapeHtmlAttr($block->getCompanyLabel()) ?>" <?php if ($block->isCompanyRequiredField()) : ?>class="validate-select"<?php endif; ?>>
                    <option value=""><?= $block->escapeHtml($block->getDropdownEmptyLabel()) ?></option>
                    <?php foreach ($block->getCompanies() as $company): ?>
                        <option value="<?= $company['value']; ?>" <?php if (1 == count($block->getCompanies())): ?>selected="selected"<?php endif;?>><?= $block->escapeHtml($company['name']) ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
    </fieldset>
<?php endif; ?>
