.switcher-wrapper .label:after {
    background: #e3e3e3;
    border: 1px solid #aaa6a0;
    border-radius: 12px;
    content: '';
    display: block;
    height: 22px;
    transition: background 0.2s ease-in 0s;
    width: 37px;
    z-index: 0;
    left: 0;
    position: absolute;
    right: auto;
    top: 0;
}
.switcher-wrapper .label:before {
    background: #ffffff;
    border: 1px solid #aaa6a0;
    border-radius: 100%;
    content: '';
    display: block;
    height: 22px;
    transition: left 0.2s ease-in 0s;
    width: 22px;
    z-index: 1;
    left: 0;
    position: absolute;
    right: auto;
    top: 0;
}
.switcher-wrapper .frontend-custom-checkbox {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.switcher-wrapper .frontend-custom-checkbox:checked + .label:after {
    background: #79a22e;
}
.switcher-wrapper .frontend-custom-checkbox:checked + .label:before {
    left: 15px;
}
.switcher-wrapper .label .switch-text:before {
    content: attr(data-text-off);
    box-sizing: border-box;
    padding-left: 47px;
    white-space: nowrap;
}
.switcher-wrapper .frontend-custom-checkbox:checked + .label .switch-text:before {
    content: attr(data-text-on);
}
.switcher-wrapper .label .switch-text {
    moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    position: relative;
    user-select: none;
    vertical-align: middle;
}
.switcher-wrapper .label {
    cursor: pointer;
    display: inline-block;
    height: 22px;
    line-height: 22px;
    position: relative;
    user-select: none;
    vertical-align: middle;
}
.switcher-wrapper {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.frontend-custom-checkbox {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
