<?php
/**
 * File edit
 *
 * @category   Lambda
 * @package    Lambda_CompanyAccount
 * @author     Mladen Mandic <mladen.m@lambdasolutions.net>
 * @copyrights 2021 Lambda Solutions Inc.
 * @link       https://www.lambdasolutions.net/
 */
/**
 * @var Lambda\CompanyAccount\Block\Customers\Edit $block
 */
?>
<form action="<?= $block->escapeUrl($block->getUrl('*/*/update')) ?>" method="POST" id="update-customers-details">
    <input type="hidden" name="customer_id" value="<?= $block->getCustomerId() ?>"/>
    <fieldset class="fieldset info">
        <div class="field name">
            <span class="label" for="name">
                <span><?= /* @noEscape */ __('Is Admin') ?></span>
            </span>
            <div class="control">
                <div class="switcher-wrapper" data-mage-init='{"customCheckbox": {}}'>
                    <input type="checkbox" name="is_admin" id="is_admin" value="<?= $block->isAdmin() ? '1' : '0' ?>" <?= $block->isAdmin() ? 'checked="checked"' : '' ?> title="<?= /* @noEscape */ __('Is Admin') ?>" class="frontend-custom-checkbox" data-validate="{required:true}">
                    <label class="label" for="is_admin">
                        <span class="switch-text" data-text-on="<?= __('Yes') ?>" data-text-off="<?= __('No') ?>"></span>
                    </label>
                </div>
            </div>
            <br/>
            <select id="company_id" name="company_id" title="<?= $block->escapeHtmlAttr($block->getCompanyLabel()) ?>" <?php if ($block->isCompanyRequiredField()) : ?>class="validate-select"<?php endif; ?>>
                <option value=""><?= $block->escapeHtml($block->getDropdownEmptyLabel()) ?></option>
                <?php foreach ($block->getCompanies() as $company): ?>
                    <option value="<?= $company['value']; ?>" <?php if (1 == count($block->getCompanies())): ?>selected="selected"<?php endif;?>><?= $block->escapeHtml($company['name']) ?></option>
                <?php endforeach; ?>
            </select>
                <input hidden="hidden" type="text" name="group" id="group" value="" class="input-text">
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save primary" title="<?= /* @noEscape */ __('Update') ?>">
                <span><?= /* @noEscape */ __('Update') ?></span>
            </button>
        </div>
    </div>
</form>
<script>
    require([
        'jquery',
    ], function ($) {
        $(function () { // to ensure that code evaluates on page load
            $('#company_id').change(function() {
                $('#group').val($('#company_id option:selected').text());
            });
        });
    });
</script>
