<?php
/**
 * File index
 *
 * @category   Lambda
 * @package    Lambda_CompanyAccount
 * @author     Mladen Mandic <mladen.m@lambdasolutions.net>
 * @copyrights 2021 Lambda Solutions Inc.
 * @link       https://www.lambdasolutions.net/
 */
/**
 * @var Lambda\CompanyAccount\Block\Customers\Index $block
 */
$customers = $block->getCustomers();
?>
<div class="customers-grid-widget" data-mage-init='{"customersGrid": {}}'>
    <div id="companies-dropdown-wrapper" class="companies-dropdown-wrapper"></div>
    <div class="actions-container">
        <select id="customers-actions" class="customers-actions-select">
            <option value=""><?= __('Please select action'); ?></option><?php //is using in check in customers-grid.js ?>
            <?php if (!empty($customers)): ?>
            <option value="<?= $block->getUrl('company/profile/listAction/'); ?>">
                <?= __('Assign to Company'); ?>
            </option>
            <?php endif; ?>
        </select>
        <a href="<?= $block->getUrl('company/customers/massupload') ?>" class="upload-customer-link"><?= __('Upload customers'); ?></a>
    </div>
    <div class="select-container">
        <span id="select-all-customers" class="link-styles" title="<?= __('Select all customers from grid table below'); ?>"><?= __('Select All'); ?></span> /
        <span id="unselect-all-customers" class="link-styles" title="<?= __('Unselect all customers from grid table below'); ?>"><?= __('Unselect all'); ?></span>
    </div>
    <div class="table-wrapper customers">
        <table class="data table customers-table" id="customers-table">
            <caption class="table-caption"><?= $block->escapeHtml(__('Sub Companies')) ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col index">#</th>
                    <th scope="col" class="col name"><?= $block->escapeHtml(__('Name')) ?></th>
                    <th scope="col" class="col company"><?= $block->escapeHtml(__('Company')) ?></th>
                    <th scope="col" class="col is-admin"><?= $block->escapeHtml(__('Is Admin')) ?></th>
                    <th scope="col" class="col email"><?= $block->escapeHtml(__('Email')) ?></th>
                    <th scope="col" class="col action"><?= $block->escapeHtml(__('Actions')) ?></th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($customers as $customer): ?>
                <tr>
                    <td data-th="#" class="col index">
                        <input type="checkbox" name="selected_customers[]" value="<?= $customer['id'] ?>" />
                    </td>
                    <td data-th="<?= $block->escapeHtml(__('Name')) ?>" class="col name"><?= $customer['name'] ?></td>
                    <td data-th="<?= $block->escapeHtml(__('Company')) ?>" class="col company"><?= $customer['company'] ?></td>
                    <td data-th="<?= $block->escapeHtml(__('Company')) ?>" class="col is-admin"><?= $customer['is_admin'] ?></td>
                    <td data-th="<?= $block->escapeHtml(__('Email')) ?>" class="col email"><?= $customer['email'] ?></td>
                    <td data-th="<?= $block->escapeHtml(__('Action')) ?>" class="col action">
                        <a href="<?= $customer['link_edit'] ?>" class="action delete">
                            <span><?= $block->escapeHtml(__('Edit')) ?></span>
                        </a>

                    </td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
