<?php
/**
 * @var $block \Lambda\CompanyAccount\Block\Customers\MassUpload
 */
?>
<a href="<?= $block->getUrl('company/customers/downloadsample') ?>" class="file-sample"><?= __('Download Sample File'); ?></a>
<div data-mage-init='{"uploadCustomers": {"allowedFormats" : "<?= $block->getAvailableFilesFormatAsString() ?>"}}'>
    <form data-mage-init='{"validation": {}}' action="<?= $block->getUrl('company/customers/massuploadpost') ?>" method="POST" enctype="multipart/form-data" id="upload-customers">
        <fieldset class="fieldset">
            <div class="field file required">
                <label class="label file-uploader-label" for="file">
                    <span><?= /* @noEscape */ __('Upload file') ?></span>
                </label>
                <div class="control">
                    <input id="file" name="file" type="file" accept="<?= $block->getAvailableFilesFormatAsStringForInput() ?>" data-validate="{required:true}" aria-required="true" />
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary">
                <button type="submit" class="action save primary" title="<?= /* @noEscape */ __('Upload customers') ?>">
                    <span><?= /* @noEscape */ __('Upload') ?></span>
                </button>
            </div>
        </div>
    </form>
</div>