<?php
/** @var \Magento\Framework\View\Element\Template $block */

/** @var \Lambda\CompanyAccount\ViewModel\Customers\Progress\Table $viewModel */
$viewModel = $block->getViewModel();

$customers = $viewModel->getCustomersProgress();
?>
<div>
    <div class="table-wrapper company-customers-progress">
        <table class="data table" id="company-customers-progress-table">
            <caption class="table-caption"><?= $block->escapeHtml(__('Customers Progress')) ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col name">
                        <?= $block->escapeHtml(__("Name")) ?>
                    </th>
                    <th scope="col" class="col email">
                        <?= $block->escapeHtml(__("Email")) ?>
                    </th>
                    <th scope="col" class="col company">
                        <?= $block->escapeHtml(__("Company")) ?>
                    </th>
                    <th scope="col" class="col course">
                        <?= $block->escapeHtml(__("Course")) ?>
                    </th>
                    <th scope="col" class="col status">
                        <?= $block->escapeHtml(__("Status")) ?>
                    </th>
                    <th scope="col" class="col datestarted">
                        <?= $block->escapeHtml(__("Date Started")) ?>
                    </th>
                    <th scope="col" class="col datecompleted">
                        <?= $block->escapeHtml(__("Date Completed")) ?>
                    </th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($customers as $customer): ?>
                    <?php foreach ($customer['progress'] as $progress): ?>
                        <?php
                            $dateStarted = isset($progress['datestarted'])
                                ? $block->formatDate($progress['datestarted'], \IntlDateFormatter::MEDIUM)
                                : '';
                            $dateCompleted = isset($progress['datecompleted'])
                                ? $block->formatDate($progress['datecompleted'], \IntlDateFormatter::MEDIUM)
                                : '';
                        ?>
                        <tr>
                            <td data-th="name" class="col name">
                                <?= $block->escapeHtml($customer['name']) ?>
                            </td>
                            <td data-th="email" class="col email">
                                <?= $block->escapeHtml($customer['email']) ?>
                            </td>
                            <td data-th="company" class="col company">
                                <?= $block->escapeHtml($customer['company']) ?>
                            </td>
                            <td data-th="course" class="col course">
                                <?= $block->escapeHtml($progress['course']) ?>
                            </td>
                            <td data-th="status" class="col status">
                                <?= $block->escapeHtml($progress['status']) ?>
                            </td>
                            <td data-th="datestarted" class="col datestarted">
                                <?= $block->escapeHtml($dateStarted) ?>
                            </td>
                            <td data-th="datecompleted" class="col datecompleted">
                                <?= $block->escapeHtml($dateCompleted) ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>
