<?php
/**
 * File register
 *
 * @category   Lambda
 * @package    Lambda_CompanyAccount
 * @author     Mladen Mandic <mladen.m@lambdasolutions.net>
 * @copyrights 2021 Lambda Solutions Inc.
 * @link       https://www.lambdasolutions.net/
 */
/**
 * @var $block Lambda\CompanyAccount\Block\Customer\Account\Edit\Company
 */
?>
<?php if($block->getCompaniesList()): ?>
    <fieldset class="fieldset company" data-mage-init='{"changeCompany": {}}'>
        <div class="field choice">
            <input type="checkbox" name="change_company" id="change-company" data-role="change-company" value="1" title="<?= $block->escapeHtmlAttr(__('Change Company')) ?>" class="checkbox">
            <label class="label" for="change-company"><span><?= $block->escapeHtml(__('Change Company')) ?></span></label>
        </div>
        <div class="field company" data-container="change-company" style="display: none;">
            <label class="label" for="company"><span><?= $block->escapeHtml(__('Company')) ?></span></label>
            <div class="control">
                <select name="company" id="company" data-validate="{'companyValidationRule':true}">
                    <option value="0"><?= $block->escapeHtml(__('Please Select Company')) ?></option>
                    <?php foreach ($block->getCompaniesList() as $company): ?>
                        <option <?php if($company['selected']): ?>selected="selected"<?php endif; ?> value="<?= $company['value'] ?>"><?= $company['name'] ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
    </fieldset>
    <script type="text/x-magento-init">
       {
           "*": {
               "companyValidationRule": {}
           }
       }
    </script>
<?php endif; ?>
