<?php
/**
 * File add
 *
 * @category   Lambda
 * @package    Lambda_CompanyAccount
 * @author     Mladen Mandic <mladen.m@lambdasolutions.net>
 * @copyrights 2021 Lambda Solutions Inc.
 * @link       https://www.lambdasolutions.net/
 */
/**
 * @var Lambda\CompanyAccount\Block\Profile\Add $block
 */
?>
<div class="actions-top-block">
    <div class="primary">
        <a href="<?= $block->escapeUrl($block->getUrl('*/*/index')) ?>" class="action save primary" title="<?= $block->escapeHtmlAttr(__('Back to Profiles List')) ?>">
            <span><?= $block->escapeHtml(__('Back to Profiles List')) ?></span>
        </a>
    </div>
</div>
<form action="<?= $block->escapeUrl($block->getUrl('*/profile/createPost')) ?>" method="POST" id="new-profile-create">
    <fieldset class="fieldset info">
        <?php if ($block->getCompanies()): ?>
            <div class="field parent-company required">
                <label class="label" for="parent_company_id">
                    <span><?= $block->escapeHtml(__('Parent Company')) ?></span>
                </label>
                <div class="control">
                    <select name="parent_company_id" id="parent_company_id" title="<?= $block->escapeHtmlAttr(__('Parent Company')) ?>" data-validate="{required:true}" class="required-entry">
                        <?php foreach ($block->getCompanies() as $company): ?>
                            <option value="<?= $block->escapeHtmlAttr($company['value']) ?>"><?= $block->escapeHtml($company['name']) ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
        <?php endif; ?>
        <div class="field name required">
            <label class="label" for="name">
                <span><?= $block->escapeHtml(__('Company Name')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="name" id="name" value="" title="<?= $block->escapeHtmlAttr(__('Company Name')) ?>" class="input-text maximum-length-40" data-validate="{required:true,'validate-length':true}">
            </div>
        </div>
        <div class="field street">
            <label class="label" for="street">
                <span><?= $block->escapeHtml(__('Street')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="street" id="street" value="" title="<?= $block->escapeHtmlAttr(__('Street')) ?>" class="input-text maximum-length-40" data-validate="{'validate-length':true}">
            </div>
        </div>
        <div class="field city">
            <label class="label" for="city">
                <span><?= $block->escapeHtml(__('City')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="city" id="city" value="" title="<?= $block->escapeHtmlAttr(__('City')) ?>" class="input-text maximum-length-40" data-validate="{'validate-length':true}">
            </div>
        </div>
        <div class="field postcode">
            <label class="label" for="postcode">
                <span><?= $block->escapeHtml(__('Postcode')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="postcode" id="postcode" value="" title="<?= $block->escapeHtmlAttr(__('Postcode')) ?>" class="input-text maximum-length-30" data-validate="{'validate-length':true}">
            </div>
        </div>
        <div class="field country-id">
            <label class="label" for="country_id">
                <span><?= $block->escapeHtml(__('Country')) ?></span>
            </label>
            <div class="control">
                <select name="country_id" id="country_id" title="<?= $block->escapeHtmlAttr(__('Country')) ?>">
                    <option value=""><?= $block->escapeHtml(__('Please select country')) ?></option>
                    <?php foreach ($block->getCountriesList() as $country): ?>
                        <option value="<?= $country['code'] ?>"><?= $country['name'] ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
        <div class="field telephone">
            <label class="label" for="telephone">
                <span><?= $block->escapeHtml(__('Telephone')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="telephone" id="telephone" value="" title="<?= $block->escapeHtmlAttr(__('Telephone')) ?>" class="input-text maximum-length-20" data-validate="{'validate-length':true}">
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save primary" title="<?= $block->escapeHtmlAttr(__('Create')) ?>">
                <span><?= $block->escapeHtml(__('Create')) ?></span>
            </button>
        </div>
    </div>
</form>
<script type="text/x-magento-init">
    {
        "#new-profile-create": {
            "validation": {}
        }
    }
</script>
