<?php
/**
 * File edit
 *
 * @category   Lambda
 * @package    Lambda_CompanyAccount
 * @author     Mladen Mandic <mladen.m@lambdasolutions.net>
 * @copyrights 2021 Lambda Solutions Inc.
 * @link       https://www.lambdasolutions.net/
 */
/**
 * @var Lambda\CompanyAccount\Block\Profile\Edit $block
 */
?>
<div class="actions-top-block">
    <div class="primary">
        <a href="<?= $block->getUrl('*/*/index') ?>" class="action save primary" title="<?= $block->escapeHtmlAttr(__('Back to Profiles List')) ?>">
            <span><?= $block->escapeHtml(__('Back to Profiles List')) ?></span>
        </a>
    </div>
</div>
<form action="<?= $block->escapeUrl($block->getUrl('*/profile/editPost')) ?>" method="POST" id="update-company-details">
    <input type="hidden" name="company_id" value="<?= $block->escapeHtmlAttr($block->getCompanyId()) ?>"/>
    <fieldset class="fieldset info">
        <div class="field <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::NAME ?> required">
            <label class="label" for="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::NAME ?>">
                <span><?= $block->escapeHtml(__('Company Name')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::NAME ?>" id="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::NAME ?>" value="<?= $block->escapeHtmlAttr($block->getName()) ?>" title="<?= $block->escapeHtmlAttr(__('Company Name')) ?>" class="input-text maximum-length-40" data-validate="{'validate-length':true}">
            </div>
        </div>
        <div class="field <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::STATUS ?>">
            <label class="label" for="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::STATUS ?>">
                <span><?= $block->escapeHtml(__('Status')) ?></span>
            </label>
            <div class="control">
                <div class="switcher-wrapper" data-mage-init='{"customCheckbox": {}}'>
                    <input type="checkbox" name="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::STATUS ?>" id="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::STATUS ?>" value="<?= $block->getStatus() ? '1' : '0' ?>" <?= $block->getStatus() ? 'checked="checked"' : '' ?> title="<?= /* @noEscape */ __('Status') ?>" class="frontend-custom-checkbox">
                    <label class="label" for="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::STATUS ?>">
                        <span class="switch-text" data-text-on="<?= __('Yes') ?>" data-text-off="<?= __('No') ?>"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="field <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::STREET ?>">
            <label class="label" for="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::STREET ?>">
                <span><?= $block->escapeHtml(__('Street')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::STREET ?>" id="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::STREET ?>" value="<?= $block->escapeHtmlAttr($block->getStreet()) ?>" title="<?= $block->escapeHtmlAttr(__('Street')) ?>" class="input-text maximum-length-40" data-validate="{'validate-length':true}">
            </div>
        </div>
        <div class="field <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::CITY ?>">
            <label class="label" for="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::CITY ?>">
                <span><?= $block->escapeHtml(__('City')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::CITY ?>" id="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::CITY ?>" value="<?= $block->escapeHtmlAttr($block->getCity()) ?>" title="<?= $block->escapeHtml(__('City')) ?>" class="input-text maximum-length-40" data-validate="{'validate-length':true}">
            </div>
        </div>
        <div class="field <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::POSTCODE ?>">
            <label class="label" for="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::POSTCODE ?>">
                <span><?= $block->escapeHtml(__('Postcode')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::POSTCODE ?>" id="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::POSTCODE ?>" value="<?= $block->escapeHtmlAttr($block->getPostcode()) ?>" title="<?= $block->escapeHtmlAttr(__('Postcode')) ?>" class="input-text maximum-length-30" data-validate="{'validate-length':true}">
            </div>
        </div>
        <div class="field <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::COUNTRY_ID ?>">
            <label class="label" for="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::COUNTRY_ID ?>">
                <span><?= $block->escapeHtml(__('Country')) ?></span>
            </label>
            <div class="control">
                <select name="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::COUNTRY_ID ?>" id="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::COUNTRY_ID ?>" title="<?= $block->escapeHtmlAttr(__('Country')) ?>">
                    <option value=""><?= $block->escapeHtml(__('Please select country')) ?></option>
                    <?php foreach ($block->getCountriesList() as $country): ?>
                        <option value="<?= $block->escapeHtmlAttr($country['code']) ?>" <?php if ($country['selected']): ?>selected="selected"<?php endif; ?>><?= $block->escapeHtml($country['name']) ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
        <div class="field <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::TELEPHONE ?>">
            <label class="label" for="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::TELEPHONE ?>">
                <span><?= $block->escapeHtml(__('Telephone')) ?></span>
            </label>
            <div class="control">
                <input type="text" name="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::TELEPHONE ?>" id="<?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::TELEPHONE ?>" value="<?= $block->getTelephone() ?>" title="<?= $block->escapeHtmlAttr(__('Telephone')) ?>" class="input-text maximum-length-20" data-validate="{'validate-length':true}">
            </div>
        </div>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save primary" title="<?= $block->escapeHtmlAttr(__('Update')) ?>">
                <span><?= $block->escapeHtml(__('Update')) ?></span>
            </button>
        </div>
    </div>
</form>
<script type="text/x-magento-init">
    {
        "#update-company-details": {
            "validation": {}
        }
    }
</script>
