<?php
/**
 * File index
 *
 * @category   Lambda
 * @package    Lambda_CompanyAccount
 * @author     Mladen Mandic <mladen.m@lambdasolutions.net>
 * @copyrights 2021 Lambda Solutions Inc.
 * @link       https://www.lambdasolutions.net/
 */
/**
 * @var Lambda\CompanyAccount\Block\Profile\Index $block
 */
?>
<div class="secondary">
    <a class="action primary" href="<?= $block->getUrl('company/profile/add') ?>">
        <span><?= $block->escapeHtml(__('Add New Company')) ?></span>
    </a>
</div>
<div class="table-wrapper sub-companies">
    <table class="data table sub-companies-table" id="sub-companies-table">
        <caption class="table-caption"><?= $block->escapeHtml(__('Sub Companies')) ?></caption>
        <thead>
            <tr>
                <th scope="col" class="col <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::NAME ?>"><?= $block->escapeHtml(__('Name')) ?></th>
                <th scope="col" class="col <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::STATUS ?>"><?= $block->escapeHtml(__('Status')) ?></th>
                <th scope="col" class="col <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::STREET ?>"><?= $block->escapeHtml(__('Street')) ?></th>
                <th scope="col" class="col <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::CITY ?>"><?= $block->escapeHtml(__('City')) ?></th>
                <th scope="col" class="col <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::POSTCODE ?>"><?= $block->escapeHtml(__('Postcode')) ?></th>
                <th scope="col" class="col <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::TELEPHONE ?>"><?= $block->escapeHtml(__('Telephone')) ?></th>
                <th scope="col" class="col actions"><?= $block->escapeHtml(__('Action')) ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($block->getCompanies() as $company): ?>
                <tr class="<?= $company['status'] ? 'active' : 'disabled' ?>">
                    <td data-th="<?= $block->escapeHtml(__('Name')) ?>" class="col <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::NAME ?>"><?= $company['name'] ?></td>
                    <td data-th="<?= $block->escapeHtml(__('Status')) ?>" class="col <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::STATUS ?>"><?= $company['status'] ? 'Active' : 'Disabled' ?></td>
                    <td data-th="<?= $block->escapeHtml(__('Street')) ?>" class="col <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::STREET ?>"><?= $company['street'] ?></td>
                    <td data-th="<?= $block->escapeHtml(__('City')) ?>" class="col <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::CITY ?>"><?= $company['city'] ?></td>
                    <td data-th="<?= $block->escapeHtml(__('Postcode')) ?>" class="col <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::POSTCODE ?>"><?= $company['postcode'] ?></td>
                    <td data-th="<?= $block->escapeHtml(__('Telephone')) ?>" class="col <?= \Lambda\CompanyAccount\Api\Data\CompanyInterface::TELEPHONE ?>"><?= $company['telephone'] ?></td>
                    <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">
                        <a href="<?= $company['edit_link'] ?>" class="action edit">
                            <span><?= $block->escapeHtml(__('Edit')) ?></span>
                        </a>
                        <?php if(isset($company['delete_link'])): ?>
                            <a href="<?= $company['delete_link'] ?>" class="action delete">
                                <span><?= $block->escapeHtml(__('Delete')) ?></span>
                            </a>
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>
